#!/usr/bin/make -f
#export DH_VERBOSE=1

%: src
	cd $< && dh $@ --parallel

override_dh_auto_build: src
	cd $< && rm -f font.i
	cd $< && dh_auto_build

override_dh_auto_test: src
	make runtest -C $<

